<div
  class="flex items-center justify-between w-full px-8 mx-auto mt-2 border-2 rounded-3xl max-w-[750px]"
>
  <a href="/" class="w-8 h-12">
    <img src="/logo.png" class="w-full h-full" alt="yapboard" />
  </a>

  <div class="flex items-center justify-between gap-8">
    <a href="/blogs/" class="hover:underline"> Blogs </a>
    <a href="/app/" class="hover:underline"> App </a>
    <!-- <a href="/signin/" class="hover:underline"> Sign in </a>
    <a href="/signup/" class="hover:underline"> Sign up </a> -->
  </div>
</div>
