---
import { Image } from "astro:assets";
import Logo from "../assets/logo.png";
---

<div
  class="flex items-center justify-between w-full px-8 mx-auto mt-2 border-2 rounded-3xl max-w-[750px]"
>
  <a href="/" class="w-8 h-12 flex items-center">
    <Image src={Logo} class="w-full h-8" alt="yapboard logo" loading="eager" />
  </a>

  <div class="flex items-center justify-between gap-8">
    <a href="/blogs/" class="hover:underline"> Blogs </a>
    <a href="/auth/sign-in/" class="hover:underline"> Sign In</a>
    <a href="/app/" class="hover:underline"> App </a>
  </div>
</div>
